<launch>
    <arg name="world" default="$(find survey_simulator)/worlds/forest.world" />
    <arg name="uav_sdf" default="$(find survey_simulator)/PX4-Autopilot/Tools/sitl_gazebo/models/iris_depth_camera/iris_depth_camera.sdf" />
    
    <node pkg="survey_simulator" type="setup_sitl.sh" args="$(find survey_simulator) $(arg uav_sdf) $(arg world)" name="run_sitl" output="screen" />
    <!-- Fix camera_frame -->
    <node pkg="tf2_ros" type="static_transform_publisher" args="0.1 0 0 -1.57 0 -1.57 /base_link /camera_link" name="base_to_camera_link" />
</launch>